{% extends "base.html" %}
{% block title %}Ophelia| Login{% endblock title %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock head_title %}

{% block content %}

<div class="container col-12 col-md-10 g-4 my-4">
  <div class="row justify-content-center">
    <div class="col-12">
      <h1 class="main-text text-center my-3">{% trans "Sign In" %}</h1>
      <p class="sub-text text-center">{% blocktrans %}Welcome to Pizza Hemma!! Want to order foods, please log in first.<br> Have not created an account yet? No worry.<br>Press <a class="link btn-link" href="{{ signup_url }}">Sign up</a> here.{% endblocktrans %}</p>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-12 col-md-8 mt-4 sub-text d-flex justify-content-center">
      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input class="sub-text" type="hidden" name="{{ redirect_field_name }}" value="{{   redirect_field_value }}" />
        {% endif %}
        <a class="button btn-link secondaryAction" href="{% url 'account_reset_password' %}">{%  trans "Forgot Password?" %}</a>
        <button class="primaryAction btn-account mx-2" type="submit"> {% trans "Sign In" %}</button>
      </form>
    </div>
  </div>
</div>
{% endblock content %}