{% extends "base.html" %}
{% block title %}Ophelia| Signup{% endblock title %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock head_title %}

{% block content %}

<div class="container col-12 col-md-10 g-4 my-4">
  <div class="row justify-content-center">
    <div class="col-12">
      <h1 class="main-text text-center my-3">{% trans "Sign up" %}</h1>
    </div>
  </div>
  <p class="sub-text text-center">{% blocktrans %}Already have an account? Please <a class="link btn-link" href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

  <div class="row justify-content-center">
    <div class="col-12 col-md-8 sub-text d-flex justify-content-center">
      <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <div class="text-center">
          <button class="btn-account mx-2" type="submit">{% trans "Sign Up" %} &raquo;</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock content %}