{% extends "base.html" %}
{% block title %}Ophelia | Verification{% endblock title %}
{% load i18n %}

{% block head_title %}{% trans "Verify Your Email Address" %}{% endblock head_title %}

{% block content %}
<div class="container col-12 col-md-10 g-4 all-content">
    <div class="row justify-content-center">
        <div class="col-12">
            <h1 class="main-text text-center my-3">{% trans "Verify Your Email  Address" %}</h1>
        </div>
    </div>
    <p class="sub-text text-center">{% blocktrans %}We have sent an email to you for verification. Follow the link to complete your signup. If you don't see it in your inbox, check your spam folder.<br>Contact us if it doesn't arrive within a few minutes.{% endblocktrans %}</p>
</div>
{% endblock content %}