/* CSS varieables */
:root {
    --primary-font: 'Alfa Slab One', serif;
    --secondary-font: 'Chivo', serif;
    --nav-color: #ffffff;
    --background-color: #c5c3c363;
    --text-color: #35724c;
    --text-hover-color: #0e4b20;
    --button-bg-color: #d52b0c;
    --button-text-color: #fff;
    --button-hover-color: #ec6952;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    padding-top: 120px;
}


/* Nevigation bar */
.logo {
    padding-left: 20px;
    max-width: 200px;
}

.navbar {
    background-color: var(--nav-color);
    color: var(--text-color);
    font-family: var(--primary-font);
}

.nav-item {
    padding: 0 15px 0 15px;
}

.nav-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.3rem;
    transition: 0.3s ease-in-out;
}

.nav-link:hover {
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: underline;
}  

.navbar-toggler-icon {
    color: var(--text-color);
    font-size: 1.5rem;
}

.btn-order {
    border: 1px solid var(--button-bg-color);
    padding: 10px 20px 10px 20px;
    font-size: 1.2rem;
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    text-decoration: none;
    transition: 0.3s ease-in-out;
}
.btn-order:hover {
    background-color: var(--button-hover-color);
    border: 1px solid var(--button-hover-color);
    color: var(--button-text-color);
}
