{% extends "base.html" %}

{% load static %}
{% block title %}Ophelia| Menu{% endblock title %}
{% block content %}

<!-- carousel -->
    <div class="carousel-section" style="margin-top: 50px; padding-top: 40px;">
        <div class="col-md-8 mx-auto">
            <div class="row">
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{% static 'images/food1.jpg' %}" class="d-block w-100 rounded"
                             alt="A restaurant setting photograph">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/food2.jpg' %}" class="d-block w-100 rounded"
                             alt="A picture of a table setting">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/food3.jpg' %}" class="d-block w-100 rounded"
                             alt="A photo of a table with wine glasses">
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
<!-- cards -->
<section class="container">
     <div class="row d-flex my-5 justify-content-center text-center">
    
        <div class="col-10 col-md-3 col-lg-2 m-3 grow card shadow">
            <a href="{% url 'food' %}" class="text-decoration-none">
                <img src="{% static 'images/food4.jpg' %}" class="card-img-top rounded img-fluid"
                    alt="A photo of a person eating a meal">
            </a>
            <div class="row mt-3 mb-3">
            <h2>
                <a href="">Food </a>
            </h2>
        </div>
        </div>

        <div class="col-10 col-md-3 col-lg-2 m-3 grow card shadow">
            <a href="{% url 'drinks' %}" class="text-decoration-none">
                <img src="{% static 'images/drinks1.jpg' %}" class="card-img-top rounded img-fluid"
                    alt="A photo of a glass of whiskey">
            </a>
            <div class="row mt-3 mb-3">
                <a href="">
                    <h2>Drinks</h2>
                </a>
            </div>
        </div>
    </div>
</section>
{%endblock%}