{% extends 'base.html' %}
{% block title %}Ophelia | About us{% endblock title %}
{% block content %}
{% load static %}
<div class="container">
    <div class="row justify-content-center" style="padding-top: 186px;">
        <div class="col-12 col-md-6 text-center mt-4">
            <img src="{% static 'images/about.jpg' %}" alt="Wines" class="img-fluid rounded float-start me-3 mb-3">
        <div class="col-12 col-md-6 mt-4">
            <article>
                <h2>Welcome to Ophelia,</h2>
                <p>Your elegant escape into the world of refined dining and curated wines.</p>
                <p>Nestled in the heart of the city, Ophelia combines timeless charm with a modern twist, offering a warm, inviting space for every occasion—from romantic evenings to celebrations with friends.</p>
                <p>Our menu is crafted with locally sourced ingredients and inspired by Mediterranean flavors, while our wine list is hand-selected to perfectly complement each dish.</p>
                <p>At Ophelia, every detail is considered—from the ambiance to the service—so your experience is nothing short of exceptional.</p>
                <p>Thank you for being a part of our story. We look forward to serving you.</p>
            </article>
        </div>
    </div>
</div>
{% endblock content %}